<section
  class="flex items-center justify-center min-h-screen bg-[url('https://i.pinimg.com/736x/30/8d/98/308d98dea717b42689947a8909c14ef6.jpg')] bg-cover text-white"
  id="hero"
>
  <div
    class="flex items-center justify-center  w-[900px] h-[300px] rounded-2xl border-2 border-white"
  >
    <div class="m-10 text-right leading-tight">
      <div class="text-lg tracking-tight">
        

        <p
                id="mi-parrafo"
                class="font-serif italic  leading-relaxed"
            >
                Escribo esto mientras escucho tu voz. No puedo creer que algo tan simple como escucharte tenga un efecto tan fuerte en mí. Te juro que tú voz es muy hipnótizante, me encanta escucharte porque me calma y me relaja. Es como si me desconectara del mundo y viajara a otro planeta donde solo existimos tú y yo, donde todo es más bonito. No sé cómo explicarlo, pero cada palabra dices me deja una sensación de paz que te juro que no puedo explicarlo, es como una droga que no quiero dejar nunca.<br /><br />
                
                
            </p>

      </div>
    </div>
  </div>
</section>
