<section class="min-h-screen flex items-center justify-center bg-[url('https://i.imgur.com/KcCdwEh.png')] bg-cover p-6" id="oct">
  <div
    class="bg-black rounded-2xl shadow-2xl max-w-md w-full p-8 transform hover:-rotate-1 hover:scale-105 transition-all duration-500 border-2 border-white"
  >
    <h2 class="text-3xl font-[Courgette] text-center text-rose-600 mb-4">
      My world, my world, my world
    </h2>
    <p class="font-[Dancing Script] text-lg leading-relaxed italic text-white">
        
        Ya estamos en octubre así que tardé en hacerte esto, pero bueno, es mejor hacerlo tarde que nunca, no? Como siempre soy pesimos para expresarme pero haré lo mejor posible, si? Desde el primer momento en el que hablamos me llenaste de una paz y felicidad enorme que recuerdo que la madrugada del día siguiente a cuando empezamos a hablarnos, al llegar de una fiesta, te escribí porque quería hablar contigo y ya era de madrugada, no sé porqué esperaba que estuvieras despierta pero te necesitaba en ese momento y no lo sabía, en ese momento no sabia en lo importante que llegarias a ser en mi vida y lo indespensable que te volverias para mi día a día, si puediera volver a ese día sabiendo todo lo que hemos compartido te prometo con la mano en el pecho que te elegiria una y mil veces. <br>Pero me voy por las ramas, te queria dedicar esta <a
                    href="https://www.youtube.com/watch?v=-nX60VZ5s5g"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <span
                        class="hover:text-pink-400 hover:scale-95 inline-block transition-transform duration-200 font-semibold text-pink-600 hover:cursor-crosshair"
                    >canción</span>
                </a>
                que no se dedicaria en cualquier momento ni a nadie, pero es que me recuerda a ti y a mi, a como me haces sentir y a lo mucho que te quiero y te adoro. Gracias por ser como eres, por hacerme tan feliz, por ser esa persona increíble y por ocupar un lugar tan especial en mi corazón. Te amo mucho Dani &lt;3
    </p>
    <div class="text-right mt-6">
      <span class="font-[Great Vibes] text-2xl  text-rose-700 font-serif italic tracking-wide leading-relaxed">—Con amor Kevvv</span>
    </div>
  </div>
</section>